<div
  class="h-full min-w-[20rem] p-10 m-10 flex flex-col gap-10 items-center bg-base-200 rounded-sm overflow-scroll"
>
  <div class="flex flex-col gap-3">
    <h1 class="text-5xl text-base-content">First of All</h1>
    <p>
      Dolore enim laboris nisi excepteur cupidatat sunt veniam et deserunt
      reprehenderit voluptate Lorem. Irure laboris esse tempor voluptate ea
      fugiat reprehenderit nulla. Adipisicing veniam culpa eu reprehenderit ut.
      Anim amet fugiat proident eu exercitation. Commodo sit veniam tempor
      consectetur laboris magna. Consequat amet nulla excepteur quis culpa
      consequat esse nisi qui id non ipsum laborum commodo. Culpa anim amet ex
      duis in elit. Ullamco qui dolor mollit labore consequat incididunt aliquip
      mollit Lorem commodo irure tempor do commodo. Dolor qui ipsum amet duis
      non exercitation anim reprehenderit proident culpa aute enim. Commodo anim
      in sint ipsum officia exercitation enim dolore. Mollit in aliqua nisi ut
      eu dolor dolore aliquip sunt. Proident nisi nostrud irure tempor in.
      Consectetur et magna velit occaecat esse anim.
    </p>
  </div>
  <div class="flex flex-col gap-3">
    <h1 class="text-5xl text-base-content">In consequences</h1>
    <p>
      Dolore enim laboris nisi excepteur cupidatat sunt veniam et deserunt
      reprehenderit voluptate Lorem. Irure laboris esse tempor voluptate ea
      fugiat reprehenderit nulla. Adipisicing veniam culpa eu reprehenderit ut.
      Anim amet fugiat proident eu exercitation. Commodo sit veniam tempor
      consectetur laboris magna. Consequat amet nulla excepteur quis culpa
      consequat esse nisi qui id non ipsum laborum commodo. Culpa anim amet ex
      duis in elit. Ullamco qui dolor mollit labore consequat incididunt aliquip
      mollit Lorem commodo irure tempor do commodo. Dolor qui ipsum amet duis
      non exercitation anim reprehenderit proident culpa aute enim. Commodo anim
      in sint ipsum officia exercitation enim dolore. Mollit in aliqua nisi ut
      eu dolor dolore aliquip sunt. Proident nisi nostrud irure tempor in.
      Consectetur et magna velit occaecat esse anim.
    </p>
  </div>
</div>
